[run]
source = src
omit = 
    */tests/*
    */venv/*
    */build/*
    */dist/*
    */__pycache__/*
    */pyscript/*
    */scripts/*
    setup.py
    main.py
    main_prod.py
    run_app.py
    run_tests.py
    build.py
    setup_macos.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[html]
directory = htmlcov 